.Fact {
  @extend %modal;

  margin: 2em auto;

  text-align: center;

  &__headline {
    @extend %type--lg;
  }

  &__text {
    @extend %type--md;
  }

  &__new {
    @extend %button--green;

    max-width: 320px;
  }
}
